*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
apikey.properties
/app/src/main/res/layout/main_activity_webview.xml
/app/src/main/res/layout/fragment_threads.xml
/app/src/main/res/menu/main_screen_menu.xml
/app/src/main/java/com/example/weatherkotlin/ThreadsFragment.kt
/app/src/main/java/com/example/weatherkotlin/view/experiments/*.*
/app/src/main/java/com/example/weatherkotlin/view/MainBroadcastReceiver.kt
